@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_IndexLayoutPage.cshtml";
}
<section class="page-title text-center" style="background-image:url(/Content/FrontPart/images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>about us</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="index.html">home &nbsp;/</a>
                </li>
                <li>about us</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Our Story -->
<section class="story">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/FrontPart/images/services/nurse.jpg" class="responsive" alt="story">
   r         </div>
            <div class="col-md-6">
                <div class="story-content">
                    <h2>Our Story</h2>
                    <h6 class="tagline">
                        "Close to Home. Close to Your Heart."</h6>
                        <p>Our  "E-Care" portal is a robust online Health care Managment system which converges latest technology and administrative process to manage work process within the hospital. This is designed for multi-speciality hospitals, to cover a wide range of Hospital administration and management processes. </p>
                        <h6>Mission</h6>
                        <p>
                            To provide patient-centered healthcare with excellence in quality, service, and access from remote locations.
                        </p>
                        <h6>Vision</h6>
                        <p>A community in which all people achieve their full potential for health and well-being across the lifespan.  We work to be trusted by patients, a valued partner in the community, and creators of positive change.</p>
</div>
            </div>
        </div>
    </div>
</section>

<!-- Promo Video -->
<section class="promo-video">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="block text-center">
                    <h6>About Our Hospitals</h6>
                    <h1>
                        The World <br>
                        Class Hospitality
                    </h1>
                    <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3>
                        Collected Shots
                        <span>of Our Hospitals</span>
                    </h3>
                    <p>
                        THIS IS WHY WE DO, WHAT WE DO.

                        <br>Join a thriving community with world class support dedicated to delivering better care.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="~/Content/FrontPart/images/gallery/injection.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="images/gallery/gallery-01.jpg"></a>
                    
                    <p>Making Healthcare Safer.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="~/Content/FrontPart/images/gallery/staff.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="images/gallery/gallery-02.jpg"></a>
                    
                    <p>A unique innovation designed to increase nursing bandwidth to spread more quality time with the Patient</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="~/Content/FrontPart/images/gallery/w doctors.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="images/gallery/gallery-03.jpg"></a>
                    
                    <p>Tender Loving Care Has been our guiding motto of the organization from inception.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="~/Content/FrontPart/images/gallery/bed.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="images/gallery/gallery-04.jpg"></a>
                    
                    <p>Feedback captured during post discharge calling used for Quality & Training purposes.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="~/Content/FrontPart/images/gallery/serveces.png" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="images/gallery/gallery-05.jpg"></a>
                    
                    <p>All front line associates are empowered and trained to convert daily transactions into memorable stories</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="gallery-item">
                    <img src="~/Content/FrontPart/images/gallery/waiting.jpg" class="img-responsive" alt="gallery-image">
                    <a data-fancybox="images" href="images/gallery/gallery-06.jpg"></a>
                    
                    <p>Healthcare is committed to improving clinical education and patient safety through simulation-based training solutions..</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--footer-main-->
