
@{
    ViewBag.Title = "chat";
    Layout = "~/Views/Shared/_IndexLayoutPage.cshtml";
}


<section class="page-title text-center" style="background-image:url(images/background/3.jpg);">
    <div class="container">
        <div class="title-text">
            <h1>Blog</h1>
            <ul class="title-menu clearfix">
                <li>
                    <a href="index.html">home &nbsp;/</a>
                </li>
                <li>Blog</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Contact Section -->
<section class="blog-section style-four section">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="left-side">
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="images/blog/5.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6>Ways to Handle Medical Emergencies</h6></a>
                            <span>By Murthi / 02 March 2020</span>
                            <p>
                                Life is unpredictable. You never really know when a medical emergency might strike. Most often, things happen at a pace that doesn’t leave us with much time to process it all. Therefore, it’s necessary to be prepared well in advance and know how to deal with it.
                            </p>
                            <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="images/blog/6.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6>Understanding Lung Diseases In Children</h6></a>
                            <span>By Krisha kumar / 08 January 2020</span>
                            <p>
                                Childhood interstitial lung diseases are a group of rare lung diseases that can develop in babies, children and teens. More often than not, these diseases have similar symptoms that include chronic cough, rapid breathing and shortness of breath. They also affect the lungs in a similar manner, often damaging the tissues that surrounded the lungs.
                            </p>
                            <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="images/blog/7.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6>Oral Cancer: Importance of Early Diagnosis and Treatment</h6></a>
                            <span>By Pradeep reddy / 25 May 2019</span>
                            <p>
                                Oral cancer is a type of cancer which falls in the category of head and neck cancer (HNC). It comprises diverse tumor types arising from different anatomic structures such as oropharynx, oral cavity, hypopharynx, larynx, and nasopharynx.  Approximately 90% of all these tumors are represented by squamous cell carcinomas (SCC).
                            </p>
                            <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="item-holder">
                        <div class="image-box">
                            <figure>
                                <a href="single-blog.html"><img src="images/blog/8.jpg" alt=""></a>
                            </figure>
                        </div>
                        <div class="content-text">
                            <a href="single-blog.html"><h6>How to Strengthen Your Heart: Here are 5 Easy Tips</h6></a>
                            <span>By Radha Krishna / 25 January 2019</span>
                            <p>
                                It goes without saying that your heart is the key organ of your body and just like any other body part, it requires good care. Responsible for circulating life-sustaining nutrients and oxygen throughout the body, it also helps eliminate wastes. Without a doubt, the base of a strong body lies in a strong heart.
                            </p>
                            <div class="link-btn">
                                <a href="single-blog.html" class="btn-style-one">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="right-side">
                    <div class="text-title">
                        <h6>Search</h6>
                    </div>
                    <div class="search-box">
                        <form method="post" action="index.html">
                            <input type="search" name="search" placeholder="Enter to Search" required="">
                        </form>
                    </div>
                    <div class="categorise-menu">
                        <div class="text-title">
                            <h6>Categories</h6>
                        </div>
                        <ul class="categorise-list">
                            <li><a href="#">Alumni <span>(20)</span></a></li>
                            <li><a href="#">Psycology <span>(4)</span></a></li>
                            <li><a href="#">Sonogram <span>(2)</span></a></li>
                            <li><a href="#">x-ray <span>(9)</span></a></li>
                            <li><a href="#">Dental <span>(2)</span></a></li>
                        </ul>
                    </div>
                    <div class="tag-list">
                        <div class="text-title">
                            <h6>Tags</h6>
                        </div>
                        <a href="#">General Medicine</a><a href="#">dental</a>
                        <a href="#">Gynecology</a><a href="#">hospitality</a>
                        <a href="#">hygiene</a><a href="#">Medical</a><a href="#">Immunity</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="styled-pagination">
            <ul>
                <li><a class="prev" href="#"><span class="fa fa-angle-left" aria-hidden="true"></span></a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a class="next" href="#"><span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- End Contact Section -->
