@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_IndexLayoutPage.cshtml";
}


@model ecare.Models.ForgotPassword


<div class="row mt-5 d-flex justify-content-center">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-lg-6 ">
            <center><h2 style="margin-top:7px;margin-bottom:7px">Forgot Password ?</h2></center>

            @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
            {

                <div class="form-group">
                    <label>Username</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @placeholder = "someone@xyz.com" })
                    @Html.ValidationMessage("Email", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" class="btn-style-one" />
                </div>
                <div class="form-group">
                    @Html.ActionLink("Login", "Login", null, new { @class = "btn-link" }) |  @Html.ActionLink("Register", "Register", null, new { @class = "btn-link" })

                </div>
            }

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

@if (ViewBag.SuccessMessage != null)
{
    <script type="text/javascript">
    $(function () {

            swal("Great!", "Your Password is send To your Mail");
        });</script>
}
else if (ViewBag.ErrorMessage != null)
{

    <script type="text/javascript">
    $(function () {

            swal("Error", "Sorry, There is problem saving data", "error");
        });</script>
}


