@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_IndexLayoutPage.cshtml";
}

        <div class="hero-slider">
            <!-- Slider Item -->
            <div class="slider-item slide1" style="background-image:url(/Content/FrontPart/images/slider/slider-bg-1.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content style text-center">
                                <p class="tag-text mb-5">
                                    Constantly updated for utmost Accuracy and Efficiency, so you can focus on what you do best
                                </p>
                                <h2 class="text-white text-bold mb-2">taking care of PATIENTS</h2>

                                <a href="#" class="btn btn-main btn-white">explore</a>
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="slider-item" style="background-image:url(/Content/FrontPart/images/slider/slider-bg-2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start-->
                            <div class="content style text-right">
                                <h2 class="text-white">We Care About <br>Your Health</h2>
                                <p class="tag-text">Let's talk about creating a more efficient hospital Management system. </p>
                                <a href="#" class="btn btn-main btn-white">about us</a>
                            </div>
                            <!-- Slide Content End-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Item -->
            <div class="slider-item" style="background-image:url(/Content/FrontPart/images/slider/slider-bg-3.jpg)">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slide Content Start -->
                            <div class="content text-center style">
                                <h2 class="text-white text-bold mb-2">Best E-care Services</h2>
                                <p class="tag-text mb-5">
                                    A Web Based Application that seamlessly integrates with MOBILE and COMPUTERS.
                                    <br>-No installation required.
                                    <br>-Easy to implement and use.
                                    <br>-Data protection.
                                </p>
                                
                            </div>
                            <!-- Slide Content End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--====  End of Page Slider  ====-->

        <section class="cta">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cta-block">
                            <div class="top-doctor item">
                                <i class="fa fa-globe"></i>
                                <h2>Easy Access</h2>
                                <p>All you need to access the hospital software application is a browser and a internet connection. This is generally available on a wider range of devices and from anywhere in the world</p>

                            </div>
                            <div class="working-time item">
                                <i class="fa fa-calendar-o"></i>
                                <h2>Appointment Management</h2>
                                <p>Online portal for patients to book appointments with flexible time slots for the available hospitals in the website directly from their own location.</p>
                            </div>
                            <div class="working-time item">
                                <i class="fa fa-hourglass-o"></i>
                                <h2>Working Hours</h2>
                                <ul class="w-hours">
                                    <li>Mon - Tue<span>9:00 - 5:00</span></li>
                                    <li>Wed - Thu<span>9:00 - 5:00</span></li>
                                    <li>Fri - Sat<span>9:00 - 5:00</span></li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--about section-->
        <section class="feature-section section bg-gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="image-content">
                            <div class="section-title text-center">
                                <h3>
                                    Best Features
                                    <span>of Our Hospitals</span>
                                </h3>
                                <p>
                                   All departments collaborate to provide the best care for patients, to improve outcomes and achieve user’s mission, vision and goals
                                </p>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="~/Content/FrontPart/images/resource/1.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6> Flexible & highly-customizable</h6>
                                            <p>
                                                <span>Beat the long queues!</span>Pre-Book doctors Appointments from the comfort of your home. "E-Care" helps you receive, store and access all your health information online.
                                            </p>
</div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="~/Content/FrontPart/images/resource/2.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Diaginostic</h6>
                                        <p>
                                            Geared with up over 60 departments, the hospital boasts of a retinue of specialists like cardiologists, general surgeons, ophthalmologists, orthopedic surgeons, fertility experts etc.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="~/Content/FrontPart/images/resource/3.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Doctors</h6>
                                        <p>
                                            Doctors and specialists at E-Care Hospitals are considered to be one of the best doctors in India, and this is considering the amount of experience and expertise they bring with them in their respective domains and provides best care to their patients.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="item">
                                        <div class="icon-box">
                                            <figure>
                                                <a href="#">
                                                    <img src="~/Content/FrontPart/images/resource/4.png" alt="">
                                                </a>
                                            </figure>
                                        </div>
                                        <h6>Services</h6>
                                        <p>
                                            Appointment scheduling and managing via online allows the users (patients & hospital staff) to select the services and this way the user is provided with clear and detailed information. The more detailed information is given, the more it is helpful to users in choosing the right service. This reduces the chances of errors.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End about section-->
        <!--Start about us area-->
        <section class="service-tab-section section">
            <div class="outer-box clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Nav tabs -->
                            <div class="tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active">
                                        <a href="#dormitory" data-toggle="tab">orthopedic </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#orthopedic" data-toggle="tab">Cardiology</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#sonogram" data-toggle="tab">Spine</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#x-ray" data-toggle="tab">Neurosciences</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#diagnostic" data-toggle="tab">Cancer Care</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Start single tab content-->
                            <div class="tab-content">
                                <div class="service-box tab-pane fade in active row" id="dormitory">
                                    <div class="col-md-6">
                                        <img class="img-responsive" src="~/Content/FrontPart/images/services/orthopedics_0.jpg" alt="service-image">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="contents">
                                            <div class="section-title">
                                                <h3>orthopedic </h3>
                                            </div>

                                            <ul class="content-list">
                                              
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>Our Orthopedicians trained at the top centres worldwide, bring with them the latest and best techniques and work in our facilities that have the latest cutting edge technology in terms of equipments, operating rooms, recovery areas and advanced Physical therapy facilities.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>We have dedicated & well equipped Orthopedic surgery complexes with laminar flow & various modern equipment like image intensifier, operating microscope, computer navigation system, top of the line arthroscopy system etc.
                                                </li>
                                            
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Shoulder surgeries and the most delicate hand micro surgeries are all performed with great precision and expertise.
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>There are dedicated units for Traumatology which involves treatment for dislocations and fractures with very minimal down time for the patient.
                                                    </li>
                                                    <li>
                                                        <i class="fa fa-dot-circle-o"></i>Orthopedic Oncology for treating bone cancers is also a key specialisation of our hospitals.
                                                    </li>
                                                </ul>
                                                <a href="#" class="btn btn-style-one">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                                <!--Start single tab content-->
                                <div class="service-box tab-pane fade in" id="orthopedic">
                                    <div class="col-md-6">
                                        <img class="img-responsive" src="~/Content/FrontPart/images/services/cardiology.png" alt="service-image">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="contents">
                                            <div class="section-title">
                                                <h3>Cardiology</h3>
                                            </div>
                                            <ul class="content-list">

                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>Our team of cardiologists and cardiothoracic surgeons are trained at the top institutes in India and abroad and are completely dedicated to the treatment for coronary heart diseases. Our pioneering work for the prevention and treatment of cardiac diseases has led to the achievement of better outcomes and improved quality of life for thousands of cardiac patients who visit us each year with complex heart problems.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i> E-Care Hospitals has a team led by the best Cardiologists in India and our advanced infrastructure supports the complex nature of the cardiac care provided. Third generation Cath Labs, Cardiac Critical Care Units and Intensive Care Units support our experienced cardiologists and post-operative care teams, making us the most sought-after Cardiology hospital in India.
                                                </li>
                                           
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>We have vast experience in the most complicated coronary artery bypass surgery, surgery for all types of valvular heart diseases, paediatric heart surgery, adult and paediatric heart transplantation with success rates comparable to international standards.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>We have been rated as the best heart surgery hospitals in India time and again through various prestigious surveys. Over 99.6% of our cardiac bypass surgeries are Beating Heart surgeries which ensure quicker and easier post-operative recovery.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>Our cardiologists are pioneers in Coronary Artery Stenting, Laser Angioplasty and in techniques as advanced as Percutaneous Transluminal Septal Myocardial Ablation.
                                                </li>
                                            </ul>
                                            <a href="#" class="btn btn-style-one">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                                <!--Start single tab content-->
                                <div class="service-box tab-pane fade in" id="sonogram">
                                    <div class="col-md-6">
                                        <img class="img-responsive" src="~/Content/FrontPart/images/services/spine.jpg" alt="service-image">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="contents">
                                            <div class="section-title">
                                                <h3>Spine</h3>
                                            </div>
                                            <ul class="content-list">

                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i> The spine surgeons perform major and complex spine surgery. Hospitals are indeed a pioneer and one of the foremost institutions for spine surgery. The spine surgery units at the various Ecare Hospitals locations are a conglomeration of spine specialists in the treatment of spinal disorders, cancers,  deformities as well as specialists in the areas of pain management and physiotherapy.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i> Some of the latest techniques including minimally invasive and robotic surgeries have been done at the various hospitals of the group. The complete range of management options for treating back pain and spinal disorders are available. Our Spine doctors will check for list of common spine diseases and conditions of the patient and provide treatment based on the observation.
                                                </li>
                                            
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>We have best spine surgical team & specialists in India with vast background of dealing with complex spinal procedures.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>The Centers perform the full range of spinal procedures from Minimally Invasive Spine Surgery (MISS), to major spine surgery procedures like complex spinal reconstructions.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>The units are also well known internationally for complex deformity surgeries as well as revision spine surgery. The centres perform the maximum number of spinal deformity corrections in the private health care segment in India.
                                                </li>
                                            </ul>
                                            <a href="#" class="btn btn-style-one">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                                <!--Start single tab content-->
                                <div class="service-box tab-pane fade in" id="x-ray">
                                    <div class="col-md-6">
                                        <img class="img-responsive" src="~/Content/FrontPart/images/services/neuroscience.jpg" alt="service-image">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="contents">
                                            <div class="section-title">
                                                <h3>Neuro sciences</h3>
                                            </div>
                                            
                                            <ul class="content-list">
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>The department of neurosurgery at Ecare Hospitals in India is well equipped to treat all the neurological diseases including stroke, headache, epilepsy, coma, neuropathies, multiple sclerosis, myopathies, Parkinson's disease, Myasthenia Gravis and many more, establishing it as one of the best hospital for neurosurgery treatment in India.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>Our neurologists will check for complex neurology diseases and conditions of the patient and provide treatment based on the observation..
                                                </li>

                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>With a team led by some of the best neurosurgeons in India, preservation of all functions, good cosmetic outcome, shorter hospital stay and avoiding pain and discomfort are considered as important as saving a patient's life.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>The Centers perform the full range of spinal procedures from Minimally Invasive Spine Surgery (MISS), to major spine surgery procedures like complex spinal reconstructions.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>The units are also well known internationally for complex deformity surgeries as well as revision spine surgery. The centres perform the maximum number of spinal deformity corrections in the private health care segment in India.
                                                </li>
                                            </ul>
                                            <a href="#" class="btn btn-style-one">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                                <!--Start single tab content-->
                                <div class="service-box tab-pane fade in" id="diagnostic">
                                    <div class="col-md-6">
                                        <img class="img-responsive" src="~/Content/FrontPart/images/services/cancer.png" alt="service-image">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="contents">
                                            <div class="section-title">
                                                <h3>Cancer Care</h3>
                                            </div>
                                            <ul class="content-list">
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>To the thousands of patients who visit for cancer treatment in India, the Ecare Hospitals Cancer Centre symbolizes hope that Cancer is Conquerable. The Cancer care system at Ecare Hospitals involves over 125 surgical and radiation Oncology specialists as well as diagnostic consultants that offer comprehensive Cancer Care.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i> The mission is to take the fight against cancer to the next frontier, and redefine clinical benchmarks and outcomes.
                                                </li>


                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>Cancer is a ruthless disease. It evolves constantly and spreads relentlessly. It's hard to catch and even harder to treat.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>But that is about to change, with Precision Oncology. Apollo's unique approach to diagnosing, treating and monitoring cancer that is as precise as it can get.
                                                </li>
                                                <li>
                                                    <i class="fa fa-dot-circle-o"></i>
                                                    • PEDIATRIC MALIGNANCIES
                                                    • PROSTATE CANCER
                                                    • CERVICAL CANCER
                                                    • LUNG CANCER
                                                    • OVARIAN CANCER
                                                </li>
                                            </ul>
                                            <a href="#" class="btn btn-style-one">Read more</a>
                                        </div>
                                    </div>
                                </div>
                                <!--End single tab content-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End about us area-->
        <!--Service Section-->
        <section class="service-section bg-gray section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>
                        Our Best
                        <span> Hospitals</span>
                    </h3>
                    <p>
                        Timely Communication about the health status of the patient, communication about the tests, the treatment and the costing. Automating your hospital system will eliminate delays in communication and improve the operational efficiency, which directly results in enhanced patient care and improved outcomes.
                    </p>
                </div>
                <div class="row items-container clearfix">
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/apollo.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>Better Service At Low Cost</span>
                                <a href="service.html">
                                    <h6>Apollo Health City</h6>
                                </a>
                                <p>
                                    Awarded the Best Multi-specialty in India by The Times Health Multi-Specialty Hospital Survey
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/bilort.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>
                                    State-of-art infrastructure and facilities for treating international patients
                                </span>
                                <a href="service.html">
                                    <h6>Billroth Hospital</h6>
                                </a>
                                <p>Billroth hospital provides quality medical care to patients from its high class infrastructure facilities. Hi-tech technology is used and a dedicated staff supports qualified doctors for successfully treating patients. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/KIMS.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>We provide a full range of cutting-edge techniques and procedures across all our institutes.</span>
                                <a href="service.html">
                                    <h6>KIMS HOSPITALS</h6>
                                </a>
                                <p>KIMS Hospitals is one of the largest corporate Hospitals group in South India.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/sanghamitra-hospitals-pvt-ltd-ongole-ho-ongole-hospitals-9k84ud.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>Brings health to your home.</span>
                                <a href="service.html">
                                    <h6>Sanghamitra Hospitals Pvt Ltd.</h6>
                                </a>
                                <p>supported by a group of successful medical practitioners to pool up resources and to create a top class health care delivery system in Ongole.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/manipl.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>WHEN IT’S ABOUT YOUR HEALTH WAITING IS NOT AN OPTION</span>
                                <a href="service.html">
                                    <h6>Manipals Hospitals</h6>
                                </a>
                                <p>Manipal Hospitals provides an unparalleled assessment and treatment with both medical, surgical practices and everything that makes you move and be active.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/rainbow.jpg"s alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>The Currency Nagar centre is by far India's largest Pediatric Intensive Care Unit in Vijayawada.</span>
                                <a href="service.html">
                                    <h6>Rainbow Children’s Hospital</h6>
                                </a>
                                <p>Rainbow Hospitals in Vijayawada have gained a positive repute for saving extreme pre-term babies and neonates with complex medical and surgical problems.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Service Section-->
        <!--team section-->
        <section class="team-section section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>
                        Our Expert
                        <span>Doctors</span>
                    </h3>
                    <p>
                        Most of the doctors have extra expertise in one type of specialization or another.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="team-member">
                            <img src="~/Content/FrontPart/images/team/anilku.jpg" alt="doctor" class="img-responsive">
                            <div class="contents text-center">
                                <h4>DR. ANIL KUMAR KARANAM</h4>
                                <p>
                                    Consultant Cardiac Anesthetist
                                    <br>
                                    QUALIFICATION
                                    MBBS | DA | MD
                                </p>
                                <a href="#" class="btn btn-main">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="team-member">
                            <img src="~/Content/FrontPart/images/team/lakshmi.png" alt="doctor" class="img-responsive">
                            <div class="contents text-center">
                                <h4>DR. LAKSHMI PRASUNA</h4>
                                <p>
                                    Consultant, Obstetrics And Gynecology
                                    <br>
                                    QUALIFICATION
                                    MBBS | DGO (Obs. & Gynaec)
                                </p>
                                <a href="#" class="btn btn-main">read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="team-member">
                            <img src="~/Content/FrontPart/images/team/raj.png" alt="doctor" class="img-responsive">
                            <div class="contents text-center">
                                <h4>DR. B. RAJ KUMAR</h4>
                                <p>
                                    Consultant Radiologist
                                    <br>
                                    QUALIFICATION
                                    MBBS | DMRD
                                </p>
                                <a href="#" class="btn btn-main">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End team section-->
     
        <!-- Contact Section -->
        <section class="appoinment-section section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="accordion-section">
                            <div class="section-title">
                                <h3>FAQ</h3>
                            </div>
                            <div class="accordion-holder">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Is "E-Care" Suite the right solution for us as healthcare providers?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                E-Care is the right solution for you if you are not using the most advanced hospital management system. This modern health care management system is a web based application sits on a web server, and all users
                                                will access it via web browser over the internet. This is more user convenient as people from worldwide can fix their
                                                appointments for consultanting to their favorite doctors.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                                   aria-controls="collapseTwo">
                                                    Is there any online support facility available?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                e-care allows the patients to talk with doctors through online chat to clear thier doubts and take suggetions. All the queries raised within e-care are reviewed and escalated to thr doctors and will work for you to solve the issue at the earliest.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                                   aria-controls="collapseThree">
                                                    Is any specific knowledge required for using e-care application?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                No, there isn’t any such requirement for using e-care. As the application is developed in a user-friendly structure, even a novice user can easily operate the system.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                                   aria-controls="collapseFour">
                                                    Is the database secure and safe?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                e-care keeps regular backup of your database which ensures 100% safety and continuity of your business. Data backup and data recovery, both, are accurate and efficient.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                                   aria-controls="collapseFive">
                                                    Can hospitals manage users and their access controls themselves?

                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                            <div class="panel-body">
                                                e-care Suite provides benefits to the Hospital administrator, who will be able to manage all users, define their roles and assign required access to the system. It will also provide access to all data and reports with their hospital.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="contact-area">
                            <div class="section-title">
                                <h3>
                                    Request
                                    <span>Appointment</span>
                                </h3>
                            </div>
                            <form name="contact_form" class="default-form contact-form" action="sendmail.php" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" name="Name" placeholder="Name" required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="Email" placeholder="Email" required="">
                                        </div>
                                        <div class="form-group">
                                            <select name="subject">
                                                <option>Departments</option>
                                                <option>Diagnostic</option>
                                                <option>Psychological</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" name="Phone" placeholder="Phone" required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="Date" placeholder="Date" required="" id="datepicker">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                        <div class="form-group">
                                            <select name="subject">
                                                <option>Doctor</option>
                                                <option>Diagnostic</option>
                                                <option>Psychological</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <textarea name="form_message" placeholder="Your Message" required=""></textarea>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" class="btn-style-one">submit now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Section -->
        <!--footer-main-->

