
@{
       ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_IndexLayoutPage.cshtml";
}

        <section class="page-title text-center" style="background-image:url(/Content/FrontPart/images/background/3.jpg);">
            <div class="container">
                <div class="title-text">
                    <h1>service</h1>
                    <ul class="title-menu clearfix">
                        <li>
                            <a href="index.html">home &nbsp;/</a>
                        </li>
                        <li>service</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

        <section class="service-overview section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-block">
                            <h2>Mission, Vision & Quality Policy</h2>
                          
                            <ul>
                                <li><i class="fa fa-caret-right"></i>E-Care comprises of the best multi-Speciality Hospitals in the healthcare sector, providing quality healthcare and valuable experience, supported by a team of compassionate and dedicated medical professionals.To provide value added innovative, consistent, and continuously improving health and medical care to sustain and further improve clinical outcomes, patient safety, & patient satisfaction.</li>
                                <li><i class="fa fa-caret-right"></i>To ensure accessible and affordable quality healthcare by compassionate medical professionals to all.</li>
                                <li><i class="fa fa-caret-right"></i>To be the centre of excellence for medical research and academics.</li>
                                <li><i class="fa fa-caret-right"></i>o cultivate an environment of trust, honesty, mutual respect, equality, and ethics.</li>
                                <li>
                                    <i class="fa fa-caret-right"></i>To evolve as a benchmark in quality healthcare available to one and all.
                                    <a href="#" class="btn btn-style-one">Book Appointment</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="accordion-section">
                            <div class="accordion-holder">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Why Should I choose E-care Health?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                We at Hospitals are committed to delivering unwavering dedication to clinical excellence with a strong focus on benchmarked protocols. We strive for a relentless pursuit of expertise in each medical field to combat life-threatening diseases experienced by patients daily. The hospital aims to deliver favourable clinical outcomes, using state-of-the-art facilities and internationally set standards.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                                   aria-controls="collapseTwo">
                                                    What are the Centre’s visiting hours?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                You can schedule an appointment online at https://www.Ecare.com/ to schedule a medical appointment or Online Consultation at https://www.Ecare.com/online-doctors-consultation and learn more about the hospitals.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                                   aria-controls="collapseThree">
                                                    How many visitors are allowed?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                We understand that seeking medical treatment now a days can be a physically and emotionally exhausting experience, and we know that sometimes it can be stressful too. Appointment scheduling and managing via online allows the users to select the services at particular time slots, there by the user is provided with clear and detailed information.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="service-box col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="img-responsive" src="~/Content/FrontPart/images/services/healthcare.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Simplifying Complexity</h3>
                                    </div>
                                    
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-check-circle-o"></i>Using innovative technology and dedicated services, we have developed the e-care Suite, a world class hospital information system; a web based standard driven architecture that is a seamlessly integrated, one stop solution for the healthcare industry.
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle-o"></i>This paperless solution promises to meet meaningful standards with optimized resources, thereby reducing errors, improving efficiency, and enabling seamless communication across the healthcare community.
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle-o"></i>User friendly graphical user interface
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle-o"></i>Anytime, anywhere access to patient records
                                        </li>
                                        <li>
                                            <i class="fa fa-check-circle-o"></i>e-Prescribing with drug and remarks.
                                        </li>
                                    </ul>
                                    <a href="#" class="btn btn-style-one">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Service Section-->
        <section class="service-section bg-gray section">
            <div class="container">
                <div class="section-title text-center">
                    <h3>
                        Our Best
                        <span> Hospitals</span>
                    </h3>
                    <p>
                        Timely Communication about the health status of the patient, communication about the tests, the treatment and the costing. Automating your hospital system will eliminate delays in communication and improve the operational efficiency, which directly results in enhanced patient care and improved outcomes.
                    </p>
                </div>
                <div class="row items-container clearfix">
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/apollo.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>Better Service At Low Cost</span>
                                <a href="service.html">
                                    <h6>Apollo Health City</h6>
                                </a>
                                <p>
                                    Awarded the Best Multi-specialty in India by The Times Health Multi-Specialty Hospital Survey
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/bilort.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>
                                    State-of-art infrastructure and facilities for treating international patients
                                </span>
                                <a href="service.html">
                                    <h6>Billroth Hospital</h6>
                                </a>
                                <p>Billroth hospital provides quality medical care to patients from its high class infrastructure facilities. Hi-tech technology is used and a dedicated staff supports qualified doctors for successfully treating patients. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/KIMS.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>We provide a full range of cutting-edge techniques and procedures across all our institutes.</span>
                                <a href="service.html">
                                    <h6>KIMS HOSPITALS</h6>
                                </a>
                                <p>KIMS Hospitals is one of the largest corporate Hospitals group in South India.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/sanghamitra-hospitals-pvt-ltd-ongole-ho-ongole-hospitals-9k84ud.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>Brings health to your home.</span>
                                <a href="service.html">
                                    <h6>Sanghamitra Hospitals Pvt Ltd.</h6>
                                </a>
                                <p>supported by a group of successful medical practitioners to pool up resources and to create a top class health care delivery system in Ongole.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/manipl.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>WHEN IT’S ABOUT YOUR HEALTH WAITING IS NOT AN OPTION</span>
                                <a href="service.html">
                                    <h6>Manipals Hospitals</h6>
                                </a>
                                <p>Manipal Hospitals provides an unparalleled assessment and treatment with both medical, surgical practices and everything that makes you move and be active.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inner-box">
                            <div class="img_holder">
                                <a href="service.html">
                                    <img src="~/Content/FrontPart/images/gallery/rainbow.jpg" alt="images" class="img-responsive">
                                </a>
                            </div>
                            <div class="image-content text-center">
                                <span>The Currency Nagar centre is by far India's largest Pediatric Intensive Care Unit in Vijayawada.</span>
                                <a href="service.html">
                                    <h6>Rainbow Children’s Hospital</h6>
                                </a>
                                <p>Rainbow Hospitals in Vijayawada have gained a positive repute for saving extreme pre-term babies and neonates with complex medical and surgical problems.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Service Section-->

